  <div class="col-md-6 image">
    <img src="{{ theme.aboutImageFirst.thumbnail('auto','auto') }}" alt="">
  </div>
  <div class="col-md-6 text">
    {{ content_block('about-page-top') }}
  </div>
</div>
<div class="row about" id="quote">
  <h2>{{ theme.aboutQuoteText }}</h2>
  <p>{{ theme.aboutQuoteAuthor }}</p>
</div>
<div class="row about" id="">
  <div class="col-md-6 text">
    {{ content_block('about-page-bottom') }}
  </div>
  <div class="col-md-6 image">
    <img src="{{ theme.aboutImageSecond.thumbnail('auto','auto') }}" alt="">
  </div>