<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ 'js/jquery-migrate-1.2.1.js'|theme_resource }}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ 'js/jquery.creditCardValidator.js'|theme_resource }}"></script>
<script src="{{ 'js/jquery.sharrre.min.js'|theme_resource }}"></script>
<script src="/cms/core.js"></script>
<script src="{{ 'js/main.js'|theme_resource }}"></script>
<script type="text/javascript">
        $(function() {
            $("#main-footer ul").not(".list-unstyled").children().appendTo("ul.user-footer-menu");
            $("#bs-example-navbar-collapse-1 ul").not(".navbar-nav").children().appendTo("ul.user-header-menu");
            $("#bs-example-navbar-collapse-1 ul").not(".navbar-nav").remove();
            $('#sharrre .twitter').sharrre({
                template: '<button class="twitter button"><i class="fi-social-twitter medium"></i> &nbsp; {total}</button>',
                share: {
                    twitter: true
                },
                enableHover: false,
                enableTracking: true,
                click: function(api, options) {
                    api.simulateClick();
                    api.openPopup('twitter');
                }
            });
            $('#sharrre .facebook').sharrre({
                template: '<button class="facebook button"><span aria-hidden="true"><i class="fi-social-facebook medium"></i> &nbsp; {total}</span></button>',
                share: {
                    facebook: true
                },
                enableHover: false,
                enableTracking: true,
                click: function(api, options) {
                    api.simulateClick();
                    api.openPopup('facebook');
                }
            });
            $('#sharrre .googleplus').sharrre({
                template: '<button class="google button"><span aria-hidden="true"><i class="fi-social-google-plus medium"></i> &nbsp; {total}</span></button>',
                share: {
                    googlePlus: true
                },
                enableHover: false,
                enableTracking: true,
                click: function(api, options) {
                    api.simulateClick();
                    api.openPopup('googlePlus');
                },
                urlCurl: share_url
            });
            $('#sharrre .pinterest').sharrre({
                template: '<button class="pinterest button"><span aria-hidden="true"><i class="fi-social-pinterest medium"></i> &nbsp; {total}</span></button>',
                share: {
                    pinterest: true
                },
                enableHover: false,
                enableTracking: true,
                click: function(api, options) {
                    api.simulateClick();
                    api.openPopup('pinterest');
                },
                urlCurl: share_url
            });


            
    //$(".menu-main-navigation-container ul").not(".main-menu .sub-menu").children().appendTo("ul#menu-main-navigation");
    //
                        // Star rating
                        //
                        /*$('.rating > span').click(function() {
                            var currentId = $(this).attr('id');
                            if ( currentId === 'hate' ) {
                                $('#hate').addClass('select');
                                $( '#dont-like, #ok, #like, #love' ).removeClass('select');
                                $('.rating > p').text( 'I hate it' );
                                $("#item_rating").val('1');
                            }
                            if ( currentId === 'dont-like' ) {
                                $( '#hate, #dont-like' ).addClass('select');
                                $( '#ok, #like, #love' ).removeClass('select');
                                $('.rating > p').text( 'I don\'t like it' );
                                $("#item_rating").val('2');
                            }
                            if ( currentId === 'ok' ) {
                                $( '#hate, #dont-like, #ok' ).addClass('select');
                                $( '#like, #love' ).removeClass('select');
                                $('.rating > p').text( 'It\'s ok' );
                                $("#item_rating").val('3');
                            }
                            if ( currentId === 'like' ) {
                                $( '#hate, #dont-like, #ok, #like' ).addClass('select');
                                $( '#love' ).removeClass('select');
                                $('.rating > p').text( 'I like it' );
                                $("#item_rating").val('4');
                            }
                            if ( currentId === 'love' ) {
                                $( '#hate, #dont-like, #ok, #like, #love' ).addClass('select');
                                $('.rating > p').text( 'I love it' );
                                $("#item_rating").val('5');
                            }
                            console.log($('#item_rating').val());
                        });*/
        });
    </script>