<div class="col-md-12 col-lg-9">
	<div class="panel-group checkout-accordions">
	<div class="panel">
		
		<div>
			{% if step == 'billing_info' %}
			  {{ partial('shop-checkout-address') }}
			{% elseif step == 'shipping_method' %}
			  {{ partial('shop-checkout-shippingmethod') }}
			{% elseif step == 'pay' %}
			  {{ partial('shop-checkout-pay') }}
			{% endif %}
		</div>
		
	</div>
	</div>	
</div>
{{ open_form({'class': 'custom'}) }}
<div id="cart-totals">{{ partial('shop-cart-totals', {'items': items}) }}</div>
{{ close_form() }}

