---
action: 'cmscontent:page'
template: 'template-1'
protocol: all
published: true
name: 'Basic Page'
url: '/page/:slug'
---
<div class="row content">
	{% if featured_image %}
		<div class="col-md-4">
			<img src="{{ featured_image.thumbnail(200, 'auto')|default('http://placehold.it/1000x365') }}" alt="{{ featured_image.alt }}"/>
		</div>
	{% endif %}
	<div class="{% if featured_image %} col-md-8 {% else %} col-sm-12 %} {% endif %}">
		<h3>{{post.title}}</h3>
		{% if post.excerpt %}
			<p>
				{{ post.excerpt | unescape }}
			</p>
		{% endif %}
		<p>
			{{ post.body | unescape }}
		</p>

	</div>

</div>
